* {
  background-color: #ffffff;
}

.homeTiltle {
  font-size: 50px;
  letter-spacing: -1px;
  color: #254151;
  text-align: center;
  margin: 40px 40px;
}

.homeTiltle .titlechild1 {
  color: #000000;
  font-weight: 400;
  font-family: "DejaVu ";
}

.homeTiltle .titlechild2 {
  color: #254151;
  font-family: "Merriweather";
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.parentsection .parent :nth-of-type(1):hover {
  box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.25);
}

.parentsection .parent :nth-of-type(1):hover {
  box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.25);
}

.parentsection .parent :nth-of-type(2):hover {
  box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.25);
}

.parentsection .parent :nth-of-type(3):hover {
  box-shadow: 0px 8px 25px -10px rgba(0, 0, 0, 0.25);
}

.container {
  text-align: center;
  width: 25%;
  height: 100%;
  padding: 70px 5px;
}

.numbers {
  font-size: 100px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Merriweather";
  text-align: center;
}

.title {
  padding-top: 20px;
  text-align: center;
  color: #7d8589;
}
